<%= form_with(model: situation, local: true) do |form| %>
  <% if situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(situation.errors.count, "error") %> prohibited this situation from being saved:</h2>

      <ul>
        <% situation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :bat_counts %>
    <%= form.number_field :bat_counts %>
  </div>

  <div class="field">
    <%= form.label :inings %>
    <%= form.number_field :inings %>
  </div>

  <div class="field">
    <%= form.hidden_field:game_id %>
  </div>

  <hr>

  <div class="field">
    <%= form.label :actness_results %>
    <%= form.text_field :actness_results %>
  </div>
  <div class="field">
    <%= form.label :where_go %>
    <%= form.number_field :where_go %>
  </div>
  <div class="field">
    <%= form.label :ball_counts %>
    <%= form.number_field :ball_counts %>
  </div>
  <div class="field">
    <%= form.label :ball_strike %>
    <%= form.number_field :ball_strike %>
  </div>
  <div class="field">
    <%= form.label :rbi %>
    <%= form.number_field :rbi %>
  </div>

  <div class="field">
    <%= form.label :steal_counts %>
    <%= form.number_field :steal_counts %>
  </div>
  <div class="field">
    <%= form.label :score %>
    <%= form.check_box :score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
