<p id="notice"><%= notice %></p>

<h1>Situations</h1>

<table>
  <thead>
    <tr>
      <th>Bat counts</th>
      <th>Inings</th>
      <th>Game</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @situations.each do |situation| %>
      <tr>
        <td><%= situation.bat_counts %></td>
        <td><%= situation.inings %></td>
        <td><%= situation.game_id %></td>
        <td><%= link_to 'Show', situation %></td>
        <td><%= link_to 'Edit', edit_situation_path(situation) %></td>
        <td><%= link_to 'Destroy', situation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back_to_Game', games_path %>|
<%= link_to 'Go_to_actness', actnesses_path %>
