<%= render 'application/header' %>

<h1>Runnings</h1>

<table>
  <thead>
    <tr>
      <th>Situation</th>
      <th>Place</th>
      <th>Base</th>
      <th>Go counts</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runnings.each do |running| %>
      <tr>
        <td><%= running.situation_id %></td>
        <td><%= running.place %></td>
        <td><%= running.base_id %></td>
        <td><%= running.go_counts %></td>
        <td><%= running.reason %></td>
        <td><%= link_to 'Show', running %></td>
        <td><%= link_to 'Edit', edit_running_path(running) %></td>
        <td><%= link_to 'Destroy', running, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back_to_Batting', actnesses_path %>|
<%= link_to 'Home', home_index_path %>

<%= javascript_pack_tag 'runnings/index' %>
