<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @running.place %>
</p>

<p>
  <strong>Base:</strong>
  <%= @running.base_id %>
</p>

<p>
  <strong>Go counts:</strong>
  <%= @running.go_counts %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @running.reason %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @running.situation_id %>
</p>

<%= link_to 'Edit', edit_running_path(@running) %> |
<%= link_to 'Back', runnings_path %>|
<%= link_to 'Repeat_Running', new_running_path %>|
<%= link_to 'Go_to_Situation', new_situation_path %>|
<%= link_to 'Go_to_Games', new_game_path %>

