<p id="notice"><%= notice %></p>

<p>
  <strong>Ball type:</strong>
  <%= @actness.ball_type %>
</p>

<p>
  <strong>Swing:</strong>
  <%= @actness.swing %>
</p>

<p>
  <strong>Ball:</strong>
  <%= @actness.ball %>
</p>

<p>
  <strong>Strike:</strong>
  <%= @actness.strike %>
</p>

<p>
  <strong>Foul:</strong>
  <%= @actness.foul %>
</p>

<p>
  <strong>Ball strike:</strong>
  <%= @actness.ball_strike %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @actness.Situation %>
</p>

<%= link_to 'Edit', edit_actness_path(@actness) %> |
<%= link_to 'Back', actnesses_path %>
