<p id="notice"><%= notice %></p>

<p>
  <strong>Ball type:</strong>
  <%= @actness.ball_type %>
</p>

<p>
  <strong>Swing:</strong>
  <%= @actness.swing %>
</p>

<p>
  <strong>Ball:</strong>
  <%= @actness.ball %>
</p>

<p>
  <strong>Strike:</strong>
  <%= @actness.strike %>
</p>

<p>
  <strong>Foul:</strong>
  <%= @actness.foul %>
</p>

<p>
  <strong>Ball strike:</strong>
  <%= @actness.ball_strike %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @actness.situation_id %>
</p>

<%= link_to 'Edit', edit_actness_path(@actness) %> |
<%= link_to 'Back', actnesses_path %> |
<%= link_to 'Repeat_Batting', new_actness_path(situation_id: @actness.situation_id) %> |
<%= link_to 'Go_to_Running', new_running_path(situation_id: @actness.situation_id) %>